@import url("https://fonts.googleapis.com/css?family=Exo:300,400,500&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #111111;
}

a {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

.link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  border-bottom: dotted 1px #000000;
  font-size: 0.9em;
}

.hero-bits {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4rem;
  color: #ffcc0055;
  font-size: 1rem;
  font-family: monospace;
  width: 4rem;
  word-wrap: break-word;
  user-select: none;
  z-index: 0;
}

@media only screen and (max-width: 1024px) {
  .hero-bits {
    padding: 0 2rem;
    color: #ffcc001c;
  }
}

.hero {
  height: 100vh;
  background-image: url("../img/pattern.png");
  background-position: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  width: 1024px;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-column-gap: 3rem;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .hero-content {
    width: 100%;
    display: block;
  }
}

.hero-title-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .hero-title-wrapper {
    margin-top: 2rem;
    display: block;
  }
}

.hero-title {
  display: block;
  font-family: "Exo";
  color: #ffcc00;
  font-size: 3.8em;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  font-weight: normal;
}

@media only screen and (max-width: 1024px) {
  .hero-title {
    text-align: center;
    font-size: 1.4em;
  }
}

.hero-subtitle {
  display: block;
  font-family: "Exo";
  color: #888888;
  font-size: 1.2em;
  text-transform: capitalize;
  margin-top: 0.6rem;
  padding: 0px;
  line-height: 1em;
  font-weight: normal;
}

@media only screen and (max-width: 1024px) {
  .hero-subtitle {
    margin-top: 0.8rem;
    text-align: center;
    font-size: 0.9em;
  }
}

.hero-window {
  background-color: #202020;
  height: 200px;
  border-radius: 7px;
  box-shadow: 0 10px 20px -5px #000000;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .hero-window {
    margin: 0 auto;
    width: 80%;
    max-width: 280px;
    height: 150px;
  }
}

.hero-window-title {
  padding: 0 0.5rem;
  height: 30px;
  background-color: #ffffff22;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-window-title div {
  background-color: #ffcc00;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 10px;
}

.hero-window-content {
  padding: 1rem;
}

.hero-window-content p{
  margin: 0;
  display: block;
  font-family: monospace;
  color: #ffcc00;
  font-size: 1.1em;
  text-transform: lowercase;
}

.hero-socials {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style-type: none;
}

.hero-socials li {
  margin: 0 1rem 0 0;
  padding: 0;
  display: inline-block;
  color: #ffcc00;
  font-size: 2em;
}

@media only screen and (max-width: 1024px) {
  .hero-socials {
    display: block;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
  }

  .hero-socials li {
    margin: 0 1rem 0 0;
    padding: 0;
    display: inline-block;
    color: #ffcc00;
    font-size: 2em;
  }
}

.hero-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  border-radius: 2rem;
  text-decoration: none;
  font-family: "Exo";
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  box-shadow: 0 10px 10px -5px #000000;
  background-color: #ffcc00;
  font-size: 0.9em;
  line-height: 0.9em;
}

.fa-icon-right {
  margin-left: 0.8rem;
}

.fa-icon-left {
  margin-right: 0.8rem;
}

.about {
  margin-top: 0rem;
  padding: 4rem;
  background-color: #ffcc00;
}

@media only screen and (max-width: 1024px) {
  .about {
    padding: 2rem;
  }
}


.about-title {
  display: block;
  font-family: "Exo";
  color: #000000;
  font-size: 1.8em;
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
  .about-title {
    font-size: 1.4em;
  }
}

.about-content {
  margin: 2rem 0;
  display: block;
  font-family: "Exo";
  color: #000000;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.about-wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.skills {
  margin-top: 0rem;
  padding: 4rem;
}

@media only screen and (max-width: 1024px) {
  .skills {
    padding: 2rem;
  }
}

.skills-wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.skills-title {
  display: block;
  font-family: "Exo";
  color: #ffcc00;
  font-size: 1.8em;
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
  .skills-title {
    font-size: 1.4em;
  }
}

.skills-content {
  margin: 2rem 0;
  display: block;
  font-family: "Exo";
  color: #ffcc00;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.skills-items {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  font-family: "Exo";
}

@media only screen and (max-width: 1024px) {
  .skills-items {
    display: block;
  }

  .skills-items > div + div {
    margin-top: 2rem;
  }
}

.skills-item-icon {
  font-size: 4rem;
  text-align: center;
  color: #ffcc00;
}

.skills-item-title {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  text-align: center;
  color: #ffcc00;
  font-size: 1.4rem;
  font-weight: 600;
}

.skills-item-content {
  font-size: 1rem;
  text-align: center;
  color: #cccccc99;
}

.footer-bits {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4rem;
  color: #ffcc0055;
  font-size: 1rem;
  font-family: monospace;
  width: 4rem;
  word-wrap: break-word;
  user-select: none;
  z-index: 0;
}

@media only screen and (max-width: 1024px) {
  .footer-bits {
    padding: 0 2rem;
    color: #ffcc001c;
  }
}

.footer {
  background-image: url("../img/pattern.png");
  background-position: 10px 10px;
  position: relative;
  overflow: hidden;
}

.footer-content {
  width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 180px 180px 1fr;
  grid-column-gap: 3rem;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .footer-content {
    display: block;
  }

  .footer-content > div + div {
    margin-top: 2rem;
  }
}

.footer-title {
  display: block;
  font-family: "Exo";
  color: #ffcc00;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.4em;
}

.footer-menu {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu li {
  margin: 0.5rem 0;
  padding: 0;
  color: #ffcc00;
  font-size: 1.2em;
  font-family: "Exo";
}

.footer-credits {
  display: block;
  font-family: "Exo";
  color: #cccccc99;
  text-align: right;
  padding: 2rem;
  font-size: 1em;
}

.footer-credits span {
  display: inline-block;
  margin: 0 0.4rem;
}

@media only screen and (max-width: 1024px) {
  .footer-credits span  {
    margin-top: 0.5rem;
    display: block;
    text-align: left;
  }
}

.footer-credits i {
  margin: 0 0.6rem;
  color: #ffcc00;
}

.portfolio {
  margin-top: 0rem;
  padding: 4rem;
  background-color: #ffcc00;
}

@media only screen and (max-width: 1024px) {
  .portfolio {
    padding: 2rem;
  }
}

.portfolio-title {
  display: block;
  font-family: "Exo";
  color: #000000;
  font-size: 1.8em;
  text-transform: capitalize;
}


@media only screen and (max-width: 1024px) {
  .portfolio-title {
    font-size: 1.4em;
  }
}

.portfolio-content {
  margin: 2rem 0;
  display: block;
  font-family: "Exo";
  color: #000000;
  font-size: 1em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.portfolio-wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

#window-text {
  display: none;
}

.t-caret {
  background-color: #ffcc00;
  display: inline-block;
  width: 6px;
  height: 0.8em;
}